/dev/
/vendor/
node_modules/
public_html/storage
public_html/hot
public/storage
/public/
storage/*.key
Homestead.yaml
Homestead.json
/.phpdoc/
/.phpunit.cache
.phpunit.result.cache
.phpactor.json
phpdoc.dist.xml
.phpdoc
composer.lock
composer.phar
composer.lock
.Spotlight-V100
.DS_Store
ehthumbs.db
Thumbs.db
$RECYCLE.BIN/
.directory
.Trash-*
.Trashes
.AppleDouble
.LSOverride
Desktop.ini
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
._*
/.vscode
.phpintel